$color-white : rgb(220, 218, 218);
$background : rgb(17, 17, 17);
$text-color : rgb(180, 240, 14);
$yellow-color : yellow;
$blue-color1 : rgb(102, 102, 233);
$blue-color2: rgb(39, 39, 248);
$green-color1: rgb(119, 197, 119);
$grey-color : grey;
$green-color2: rgb(17, 235, 17);
$blue-color3: rgb(46, 177, 238);


// 
$color-dark : rgb(23, 24, 24);
$color-green : rgb(92, 223, 92);